
<h1 class= "banner-recipe">Create your party!</h1>
<div class="start-party-card">
<%= simple_form_for(@party) do |f| %>

<%= f.input :name, placeholder: "Name of the party" %>
<%= f.input :date, html5: true, placeholder: "Date of the party" %>
<%= f.button :submit, "Start party", :class => "btn btn-create", :id => "create_party" %> </button>
<% end %>
  
</div>
