// Specific CSS for your home-page
.main-div {
  min-height: calc(100vh - 78px - 49px);
}

.card {
  margin-top: 25px;
  text-align: center;
}

.banner {
  background-image: url("https://res.cloudinary.com/dvsuei0bc/image/upload/v1616421309/brooke-lark-wMzx2nBdeng-unsplash_dlxgdl.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 5px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.welcome {
  margin-top: 8px;
  background-color: white;
  background: rgba(255,255,255,0.5);
 // border-radius: 8px;
}

.welcome h2 {
 padding-top: 20px;

}
.welcome p {
  text-align: center;
  padding-bottom: 10px;
 
 }

 
.background-picture {
  background-image: linear-gradient(0.9turn, rgba(0.25, 0, 0, 0.25), rgba(0, 0, 0, 0)),
  url("https://res.cloudinary.com/dvsuei0bc/image/upload/v1616421309/brooke-lark-wMzx2nBdeng-unsplash_dlxgdl.jpg");
  background-size: cover;
  background-position: center;
  }
