.page-party {
  display: flex;
}

.card {
  width: 50%;
  padding: 10px;
}

.user-display {
  margin-bottom: 40px;
}

.party-show {
  margin: 20px;
}

.user-add {
  margin: 20px;
  padding: 20px;
}

.party-page-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.cookbook_recipe_card {
  padding: 20px;
}


.user-display {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.user-status > ul {
  list-style-type: none;
}

.party-ingredient {
  color: grey;
}

h1 {
  color: $footch-teal
}

.party-name {
  color: $gray;
}

