

.recipe-informations{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.recipe-div {
  width: 50%;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    /* background-color: #fff; */
    border: 1px solid rgba(0, 0, 0, 0.125);
}




.list-group-item-light {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.ingredients-listings {
  width: 100%;
}


.recipe-show-page {
  padding: 20px;
}


 .image_large{
    display: flex;
    justify-content: center;
    padding: 5px;
    img {
      height: 300px;
      width: 500px;
      object-fit: cover;
      overflow: hidden;
      border: 1px solid $footch-teal;
      border-radius: 3px;
      margin-right: 10px;

    }
  }
  .banner-recipe {
    font-family: $brand-font-light;
    font-size: 80px;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
    text-shadow: 2px 1px 3px rgba(0,0,0,0.2);
    font-weight: 600;

  }
