<div class="footer fixed-bottom">
    <div class="item" id="brand-name">Footch.</div>
    <div class="item">This website was coded with <i class="fas fa-heart"></i> by <a href="https://www.instagram.com/p/CL9fpIchA6p/"> Le Wagon Batch#556</a></div>
    <div class="item"><a href="https://github.com/codecodegoose/Footch-App"><i class="fab fa-fw fa-github"></i></a></div>
</div>
