<h1> Welcome on Footch </h1>
<div = class="container">
    <h2>What is Footch ?</h2>
    <p> Footch is a website  whcih would help to choose a recipe depending on ingredients you have in your fridge ! Don't spend hours  on Internet to find the good meal for tonight. Footch would do it for you !</p>
    <p> Create your account and start using our magical features ! </p>
    <div class="homepage-buttons">
        <h2> <button type="button" class="btn btn-log">  <%= link_to "Sign up", new_user_registration_path %></button></h2>
        <h2> <button type="button" class="btn btn-signup">  <%= link_to "Sign in", new_user_session_path %></button></h2>

    </div>
</div>
