<h1 class="banner"> Welcome on Footch </h1>
<div = class="container welcome">
 <h2>Unsure of what to cook? No worries, Footch has your back.</h2>
 <br>
 <p>Footch helps you find recipes that are inspired by the ingredients available in your fridge.</p>
 <p>Don't spend hours on the web trying to find the right meal for tonight. Footch will do it for you !</p>
 <p>Create your account and join the party!</p>
</div>
<div class="homepage-buttons">
        <h2> <button type="button" class="btn btn-log">  <%= link_to "Sign up", new_user_registration_path %></button></h2>
        <h2> <button type="button" class="btn btn-signup">  <%= link_to "Sign in", new_user_session_path %></button></h2>

</div>
