<h1 class="text-6cl mb-4 text-center">erreur 500</h1>


<p class="text-6cl mb-4 text-center"> The page you were looking for doens't exist ! <p>
<p class="text-6cl mb-4 text-center"> Don't hesitate to send an email to say how you got it ! </p>