
.h1 {
  
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  color: $footch-teal;
  font-family: $brand-font-bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}
