
.h1 {
  background-color: $footch-light-orange;
  text-align: center;
  height: 150px;
  padding: 10px;
  font-family: $brand-font-bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}
