.btn-signup {

    a{color: $footch-teal;}
    padding: 8px 15px ;
    margin: 0px;
    font-family: $brand-font;
    border: 3px solid;
    border-color: $footch-teal;
    background: white;
    transition: 1s;
    opacity: 0.70 ;

  }

  .btn-signup:hover {
      a{text-decoration:none;}
      opacity: 1;

  }
