.homepage-buttons {
  display: flex;
  justify-content: center;
  align-items:center; // added to fix a bug, perhaps remove it if buttons aren't aligned
  padding: 10px;
  a{color: $footch-light-orange;}
  padding: 5px 10px;
  transition: 0.5s;
  font-family: $brand-font;
}

#homepage-btn {
  background-color: transparent;
  padding-bottom: 20px;
}

.btn {
  margin: 0px;
  margin-right: 5px;
  color:white;
}

.btn:hover {
  margin: 0px;
  margin-right: 5px;
  color:white;
}
.btn-my-parties {
   a{color: $footch-light-orange;}
    padding: 5px 10px;
    border: 1px solid;
    border-color: $footch-light-orange;
    background: white;
    transition: 1s;
    font-family: $brand-font;
  &:hover{
    a{color: white;}
    a{text-decoration:none;}
    background: $footch-light-orange;
    font-family: $brand-font;
    border: 0px;
  }
}

.btn-recipe {
  a{color: white;
    display: flex;
    align-items: center;
    }
  margin:10px;
  padding: 6px 15px;
  border: 0px;
  background: $footch-light-orange;
  transition: 0.5s;
  font-family: $brand-font;
  font-weight: 900;
  display: flex;
  align-items: center;
&:hover {
  a{color: white;
     text-decoration:none;
    display: flex;
    align-items: center;
    }
    border:0px;
    background: $footch-dark-orange;
    font-family: $brand-font;
  }

}

