.btn-create {
    a{color: #F18827;}
    padding: 8px ;
    border: 3px solid;
    border-color: #F18827;
    background: white;
    transition: 1s;
    
  }
  
  .btn-create:hover {
    a{color: white;}
    a{text-decoration:none;}
    background: #F18827;
    text-shadow:(0px 2px 1px black);
    
  }