.btn-create {
    a{color: white;
      display: flex;
      align-items: center;
      }
    padding: 10px 15px;
    border: 2px solid;
    border-color: $footch-light-orange;
    background: $footch-light-orange;
    transition: 0.5s;
    font-family: $brand-font;
    font-weight: 900;
    display: flex;
    align-items: center;

  }

  .btn-create:hover {
    a{color: white;
      text-decoration:none;
      display: flex;
      align-items: center;
    }
    background: $footch-dark-orange;
    font-family: $brand-font;
    border: 2px solid;
    border-color: $footch-light-orange;
  }

  .btn-add {
    color: white;
    padding: 5px 10px;
    background: $footch-light-orange;
    transition: 0.5s;
    font-family: $brand-font;
    opacity: 0.8 ;

    &:hover{
    color: white;
    a{text-decoration:none;}
    background: $footch-dark-orange;
    font-family: $brand-font;
    border: 0px;
    }
  }

  #search-button{
    color: $footch-light-orange;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid;
    border-color: $footch-light-orange;
    background: white;
    transition: 0.5s;
    font-family: $brand-font;
    display: flex;
    align-items: center


  }

  #find-button{
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;

  }

  #create_party {
    color: $footch-light-orange;
    margin: 5px;


    &:hover{
      color: white;
      a{text-decoration: red;}
    }
  }

