.btn-delete {
    a{color: white;}
    padding: 5px 10px;
    background: $footch-light-orange;
    transition: 0.5s;
    font-family: $brand-font;
    opacity: 0.8 ;

  }

  .btn-delete:hover {
      a{text-decoration:none;}
      opacity: 1;

  }
