h1, h2, h3, h4, h5 {
font-family: $brand-font;
font-size: 35px;
padding-left: 8px;
color:$footch-teal;
text-align: center;

}

#special-title{
    color:black;

}

.general-button {
    justify-content: center;
    display: flex;
}
