.btn-get-recipes {
    color: white;
    padding: 5px 10px ;
    border-color: $footch-teal;
    background: $footch-teal;
    transition: 0.5s;
    opacity: 0.8 ;
    font-family: $brand-font;
    opacity: 1;

&:hover {
  a{text-decoration:none;}
  opacity: 1;
  color: white;
  }
}
