.list-parties-container {

  margin-bottom: 20px;
  // background-color: rgba(255,255,255,0.3);
  // border: 1px solid rgba(50,107,117,0.05);
}
.card-content{

display: flex;
}

.list-parties {
  // margin-bottom: 25px;
  // display: flex;
  // justify-content: center;

  a{
    text-decoration: none;
  }
   &:hover{
    a{
      text-decoration: none;
    }
  }
}

.party-info-card {
    background: rgba(255,255,255,0.7);
    padding: 10px;
    margin: 5px;
    color: $footch-teal;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    // border: 1px solid $footch-light-orange;
    max-width: 350px;
    // height: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    hr{ border-top: 1px solid rgba(50,107,117,0.25)}

  span{color: $footch-dark-orange;}

.party-name {
  font-size: 30px;
  color: $footch-teal;
  font: $brand-font;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bring {text-overflow: ellipsis;
  white-space: nowrap;
    overflow: hidden;}
}

