
.list {
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  justify-content: center;

}

.party_recipes_list {
  display: flex;
  flex-direction: column;
}

.recipes_list {
  flex-wrap: wrap;
}
.recipe_card {
  overflow: hidden;
  width: 350px;
  height: 100%;
  background: white;
  margin: 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  // border: 1px solid $footch-light-orange;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  font: $brand-font;
  color: $footch-green;
  justify-content: flex-start;

}


.party_recipe_card{
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 5px;
  font: $brand-font;
  color: $footch-green;

  a{text-decoration: none;
  color: $txt-important;
  font: $brand-font}
}


  .image_mini {
    padding: 5px;

    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
      overflow: hidden;
      border: 1px solid $footch-teal;
      border-radius: 3px;
      margin-right: 10px;

    }
  }

  .info-card {
    font: $brand-font;
    overflow: hidden;
    height: 150px;
    align-items: normal;
    padding-top: 5px;
    a {
      text-decoration: none;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-around;
      min-height: 100%;
    }
  }


  .text-info {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // min-height: 100%;
    span{color: $footch-light-orange;}


  }



  .name {
    font-size: 20px;
    color: $footch-teal;
    margin-bottom: 13px;
  }

  .info {
    font: $brand-font-light;
    font-size: 10px;
    color: $footch-teal;
    align-items: baseline;
    margin-left: 3px;
    margin-bottom: 7px;
  }

  .button_card{
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;


    .btn-create{
      font-size: 8px;
      justify-content: space-evenly;
      margin-right: 10px;
    }

  }



  .vote_num {
    font-size: 10px;
    background-color: white;
    padding: 8px 14px;
    color: $footch-light-orange;
    display: inline-block;
    text-align: center;
    border: 1px solid $footch-light-orange;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .delete {
    font-size: 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
    a{
      text-decoration: none;
    color: $brand-pink;}

  &:hover{
    a{
      text-decoration: none;
    color: $brand-yellow;}
    }
  }


