.list-parties-container {
  flex-grow: 1;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 20px;
  // background-color: rgba(255,255,255,0.3);
  // border: 1px solid rgba(50,107,117,0.05);
}


.list-parties {
  margin: 10px 15px;
  display: flex;
  justify-content: center;

  a{text-decoration: none;}
   &:hover{
    a{text-decoration: none;}
  }
}

.party-info-card {
    background: white;
    padding: 10px;
    margin: 5px;
    color: $footch-teal;
    box-shadow: 01 01 10px rgba(0,0,0,0.05);
    width: 390px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    hr{ border-top: 1px solid rgba(50,107,117,0.25)}

  span{color: $footch-dark-orange;}

.party-name {
  font-size: 30px;
  color: $footch-teal;
  font: $brand-font;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bring {text-overflow: ellipsis;
  white-space: nowrap;
    overflow: hidden;}
}

