
.recipes_list {
  flex-wrap: wrap;
}


.party_recipe_card{
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 5px;
  a{text-decoration: none;
  color: $txt-important;}
}


  .image_mini {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
  }

  .info-card {
  }



  .name {
    font-size: 20px;
  }

  .info {
    font-size: 10px;
    color: $txt-content;
  }

  .button_card{
    display: flex;
    justify-content: space-evenly;

  }

  .vote_up {
    font-size: 10px;
    background-color: $brand-pink;
    padding: 8px 14px;

    a{text-decoration: none;
      color: white;}
  &:hover{
    a{text-decoration: none;
      color: $brand-pink;
      background-color: $brand-yellow;}
      background-color: $brand-yellow;
    }
  }

  .vote_num {
    font-size: 10px;
    background-color: white;
    padding: 8px 14px;
    color: $brand-pink;
    display: inline-block;
    text-align: center;
    border: 1px solid $brand-pink;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
  }

  .delete {
    font-size: 20px;
    background-color: white;
    display: inline-block;
    text-align: center;

       a{text-decoration: none;
      color: $brand-pink;}
  &:hover{
    a{text-decoration: none;
      color: $brand-yellow;}
    }
  }


