#main-navbar {
  align-items: center;
  position: sticky;
  top: 0px;
  z-index:1;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $footch-teal;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  width: 100%;
  color: $footch-dark-orange;
}

.nav-link {
  border: 2px solid;
  border-color: $footch-dark-orange;
  color: $footch-dark-orange;
  border-radius: 4px;
  font-size: 20px;
}

.nav-link:hover {
  background-color: $footch-dark-orange;
  color: #F4F4F4;
}

.fa-utensils {
  color: $footch-dark-orange;
}

.signed-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.not-signed-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}



#logo {
  color: $footch-dark-orange;
  font-size: 40px;
  &:hover{
    background-color: $footch-teal;
  a{text-decoration:none;}
  }
}

#dropdownMenu2 {
  font-size: 40px;
}

.dropdown {
  display: flex;
  align-items: baseline;
}

.dropdown-item {
  padding: 5px;
}

.footch-talking {
  color: $footch-dark-orange;
  font-size: 15px;
  p {
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .navbar-text {
    font-size: 25px;
  }
}

#nsi-navbar-one{
  min-width: 0;
  flex-shrink: 1;
}

#nsi-navbar-two {
  display: flex;
  flex-direction: row-reverse;
  min-width: 0;
  flex-shrink: 3;
}

#logo {
  font-size: 30px;
}

#si-navbar-one {
  flex-shrink: 1;
}

#si-navbar-two {
  flex-shrink: 3;
}
