// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/party";
@import "pages/user";
@import "pages/cookbook";
@import "pages/recipe";

@import 'select2/dist/css/select2';


.background-image {
    background-image: linear-gradient(0.9turn, rgba(0.25, 0, 0, 0.25), rgba(0, 0, 0, 0)),
    url("https://res.cloudinary.com/dvsuei0bc/image/upload/v1616421309/brooke-lark-wMzx2nBdeng-unsplash_dlxgdl.jpg");
    background-size: cover;
    background-position: center;
    }