<h1>Usermailer#invitation</h1>

<p>
 <p> Hi <%= @user.username %></p>
 <p>  You have been added to the <%= @user.parties.name %> !
 <p> Go on Feetch to see who is in the party and which ingredients you can add for the party ! </p>
 

 <p> Feetch's team</p>
 <%= link_to " Go on the website", root_url %>
</p>
