<h1>UserQueries#new</h1>
<p>Find me in app/views/user_queries/new.html.erb</p>




<%= simple_form_for(:query, url: user_queries_path) do |f| %>



----------------------------------------------------


<%= f.input :diet, collection: ["Gluten-free", "Ketogenic", "Vegetarian", "Vegan", "Pescetarian", "Paleo"]  %> dietary preferences




<% end %>
